.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

[href] {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "San Francisco", "helvetica NEUE", "APPLE SD Gothic NEO", "Dotum", "돋움", sans-serif;
}