footer {
  background: black;
  padding: 50px;
}
.footer_area {
  margin-bottom: 50px;
}
#footer_logo {
  padding-right: 50px;
}
#footer_logo img {
  
  width: 176px;
}
.footer_item {
  float: left;
  margin-right: 40px;
  color: white;
}
.footer_item h4 {
  color: gray;
}
.footer_item [href] {
  color: inherit;
}
.footer_item ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.footer_item li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer_stay {
  float: right;
}

footer address {
  text-align: center;
  color: gray;
}