header {
/*  overflow: hidden;*/
}

header input {
  float: left;
/*  overflow: hidden;*/
}

header ul {
  margin: 0;
  padding: 0;
  float: right;
/*  overflow: hidden;*/
}

header li {
  float: left;
  padding-right: 20px;
  list-style: none;
}